---
import { Image } from "astro:assets";
import logoDark from "@/assets/logo-dark.png";
import logoDefault from "@/assets/logo-default.png";
---

<a
  href="/"
  class="h-10 text-base group relative z-30 flex items-center"
>
  <Image
    src={logoDefault}
    alt="Logo"
    class="w-auto h-10 block dark:hidden"
    loading="eager"
    decoding="async"
  />

  <Image
    src={logoDark}
    alt="Logo"
    class="w-auto h-10 hidden dark:block"
    loading="eager"
    decoding="async"
  />
</a>