<a
  href="/"
  class="h-10 text-base group relative z-30 flex items-center"
>
  <img 
    src="/assets/logo-default.png" 
    alt="Logo" 
    class="w-auto h-10  block dark:hidden" 
  />

  <img 
    src="/assets/logo-dark.png" 
    alt="Logo" 
    class="w-auto h-10  hidden dark:block" 
  />
</a>